.header {
	position: relative;
	background: #1c2839;
	width: 100%;
}

.navBar {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.navButton {
	text-transform: uppercase;
	color: white;
	padding: 20px 0;
	width: 12.5%;
	background: #3f4e63;
	border: none;
	border-right: 2px solid #f0f0f0;
	transition: 0.25s;
	font: inherit;
	font-size: 1.2em;
}

.navButton:first-of-type {
	border-top-left-radius: 4px;
}

.navButton:last-of-type {
	border-top-right-radius: 4px;
	border-right: none;
}

.navButton:hover {
	cursor: pointer;
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.gradient {
   background-image: radial-gradient(circle, #e1e8f0, #646a73);
}

.img-container {
   width: 7.5%;
	margin: auto;
	padding: 48px 0;
}

.img-container img {
	width: 120%;
}

.active {
	color: red;
}